LightMaster.xcodeproj/xcuserdata/James.xcuserdatad/xcschemes/LightMaster.xcscheme
LightMaster.xcodeproj/xcuserdata/James.xcuserdatad/xcschemes/xcschememanagement.plist
LightMaster.xcodeproj/xcuserdata/James.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist